# Include all regular dependencies
-r requirements.txt

# UI Testing
pexpect==4.8.0
pytest-console-scripts==1.4.1

# Mock server - uncomment when available as a package
# fogis-api-client[mock]>=0.4.0
